<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:security="http://www.springframework.org/schema/security" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:webflow="http://www.springframework.org/schema/webflow-config"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/tx 
     http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	 http://www.springframework.org/schema/mvc
	 http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
     http://www.springframework.org/schema/security
     http://www.springframework.org/schema/security/spring-security-3.0.3.xsd	      
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-2.5.xsd
	 http://www.springframework.org/schema/webflow-config
	 http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.3.xsd     
">

	<!-- ============================= -->
	<!-- Spring MVC                    -->
	<!-- ============================= -->
	<!-- Auto-detecting components, dla wykrytych komponentow tworzone sa beany -->
	<!-- bedziemy korzystac z adnotacji @Component, @Controller, @Repository, @Service ... -->
	<context:component-scan base-package="net.marioosh.springstarter" />
	
	<!-- Activates various annotations to be detected in bean classes: Spring's @Required and @Autowired, as well 
 	as JSR 250's @PostConstruct, @PreDestroy and @Resource (if available), JAX-WS's @WebServiceRef (if available), EJB3's @EJB (if available), 
 	and JPA's @PersistenceContext and @PersistenceUnit (if available).  -->
	<context:annotation-config />

	<!-- view resolver -->
	<!-- dziala: np. simpleView -> /WEB-INF/pages/simpleView.jsp -->
	<!-- jesli nie zdefiniujemy zadnego domyslny -> simply forwards to a URL matching the name of the view specified -->  
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:order="1">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
		<!-- dostep do springowych beanow bezposrednio z view np. ${mainController} --> 
		<property name="exposeContextBeansAsAttributes" value="true"/>
	</bean>
	
	<bean id="tilesViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver" p:order="0">
  		<property name="viewClass" value="org.springframework.web.servlet.view.tiles2.TilesView"/>
	</bean>
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
    	<property name="definitions">
			<list>
				<value>/WEB-INF/defs/templates.xml</value>
			</list>    	
    	</property>
    </bean>
	

	<!-- view resolver -->
	<!-- trzeba wylaczyc mvc:annotation-driven 
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
	  <property name="mediaTypes">
	    <map>
	      <entry key="json" value="application/json"/>
	      <entry key="xml" value="application/xml"/>
	    </map>
	  </property>
	  <property name="viewResolvers">
	    <list>
	      <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
	      <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	        <property name="prefix" value="/WEB-INF/pages/"/>
	        <property name="suffix" value=".jsp"/>
	        <property name="exposeContextBeansAsAttributes" value="true"/>
	      </bean>
	    </list>
	  </property>
	  <property name="defaultViews">
	    <list>
	      <bean class="org.springframework.web.servlet.view.xml.MarshallingView">
	      	<property name="marshaller">
	      		<bean class="org.springframework.oxm.xstream.XStreamMarshaller"  p:autodetectAnnotations="true" />
	      	</property>
	      </bean>
	      <bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView" />
	    </list>
	  </property>
	</bean>
	-->
	

	<!-- JSR-303 Validator / Bean Validator -->
	<!-- A JSR-303 provider, such as Hibernate Validator, is expected to be present in the classpath and will be detected automatically -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
	<!-- wykryj automatycznie JSR-303 Provider'a np. hibernate validator'a i utworz validatora o nazwie "validator" -->
	<mvc:annotation-driven />
	
	<!-- zamiast: <mvc:annotation-driven /> --> 
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" >
		<!-- <property name="defaultHandler" value="..." /> -->
	</bean>

	<!-- message source -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="WEB-INF/messages/messages" />
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="cacheSeconds" value="1"/>
		<property name="useCodeAsDefaultMessage" value="true"/>
	</bean>
		
	<!-- i18n -->
	<mvc:interceptors>    
    	<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" p:paramName="lang"/>
	</mvc:interceptors>
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver" p:defaultLocale="pl"/>

	<!-- teraz dziala adnotacja @Secured i @PreAuthorize -->
	<security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled" />
	
	<!-- simple controllers -->
	<mvc:view-controller path="/404.html" view-name="404"/>
	<mvc:view-controller path="/403.html" view-name="403"/>
	<mvc:view-controller path="/500.html" view-name="500"/>
	<mvc:view-controller path="/error.html" view-name="error"/>
	<mvc:view-controller path="/login" view-name="login"/>
	
	<!-- static resources 
	<mvc:resources mapping="/r/**" location="/WEB-INF"/>
	-->

	<!-- scheduler
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
	        <list>
				<bean id="scanTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
				    <property name="jobDetail">
						<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
						  <property name="targetObject" ref="fileService" />
						  <property name="targetMethod" value="scan" />
						  <property name="concurrent" value="false" />
						</bean>	
				    </property>
				    <property name="startDelay" value="10000" />
				    <property name="repeatInterval" value="30000" />
				</bean>
	        </list>			
		</property>
	</bean>
	-->
	
	<!-- jawnie zdefiniowany, zeby ustawic order i zeby dzialaly w pierwszej kolejnosci adnotacje @ExceptionHandler -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerExceptionResolver" p:order="0"/>
	<!-- exception handler, zamiast @ExceptionHandler -->
	<!-- dziala na poziomie controllerów, nie zadziała np. przy 404: page not found -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver" p:order="1">
		<property name="defaultErrorView" value="error"/>
		<property name="exceptionMappings">
			<props>
				<!-- mapuje wyjatek do nazwy view -->
				<prop key="org.springframework.security.access.AccessDeniedException">403</prop>
				<!-- <prop key="...XXXException">unknownError</prop> -->
				<!-- ... etc. -->
			</props>
		</property>
	</bean> 
	
	<!-- ============================= -->
	<!-- Spring Web Flow --> 
	<!-- ============================= -->
	<import resource="flowConfig.xml" />

	<!-- ============================= -->
	<!-- Data Access                   -->
	<!-- ============================= -->
	<!-- postgresql / localhost -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/springonly2?charSet=UTF-8" />
		<property name="username" value="springonly" />
		<property name="password" value="springonly" />
	</bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="schemaUpdate" value="true" />
        <property name="hibernateProperties">
            <props>
            	<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.connection.autocommit">false</prop>
            </props>
        </property>
		<property name="packagesToScan" value="net.marioosh.springstarter.model.entities"/>        
    </bean>
    <!-- manager transakcji -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />	
	

	<!-- ============================= -->
	<!-- Spring Security               -->
	<!-- ============================= -->
	<!-- tego chyba nie musi byc... 
	<bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
		<property name="providers">
			<list>
				<bean class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
					<property name="userDetailsService" ref="userDAO" />
				</bean>
			</list>
		</property>
	</bean>
	-->
	<!-- disable-url-rewriting="true" - prevent appending ;jsessionid=XXX to urls -->
	<security:http auto-config="true" use-expressions="true" disable-url-rewriting="true">
		<security:form-login authentication-failure-url="/app/login?loginfail=1" login-page="/app/home" />
		<security:logout logout-success-url="/app/home" logout-url="/app/logout" />
		<security:intercept-url pattern="/app/login"  requires-channel="https"/>
		<security:intercept-url pattern="/app/home"  requires-channel="http"/>
		<security:intercept-url pattern="/"  requires-channel="http"/>
		<!-- niestandardowe porty http / https -->
		<security:port-mappings>
			<security:port-mapping http="8080" https="8443"/>
			<!-- przy przekierowaniu z apache'a na tomcata -->
			<!-- <security:port-mapping http="80" https="443"/> -->
		</security:port-mappings>				
		<security:remember-me key="AeVu0mee" />		
	</security:http>
	<security:authentication-manager>
		<!-- stala lista uzytkownikow 
		<security:authentication-provider>
			<security:password-encoder hash="md5" />
			<security:user-service>
		        <security:user name="admin"    password="098f6bcd4621d373cade4e832627b4f6" authorities="ROLE_ADMIN" />
		        <security:user name="user"     password="098f6bcd4621d373cade4e832627b4f6" authorities="ROLE_USER" />
			</security:user-service>
		</security:authentication-provider>
		-->
		<!-- na dao -->	
		<security:authentication-provider user-service-ref="userDAO" >
			<security:password-encoder hash="md5" />
		</security:authentication-provider>
	</security:authentication-manager>

</beans>
