* {
	margin: 0;
	padding: 0;
}

body,html {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	height: 100%;
	background-color: #fff;
	color: #000;
}

div { /* overflow: hidden; /* IE6: div height */
	
}

a {
	text-decoration: none;
	color: #888;
}

a:hover {
	text-decoration: underline;
	color: #000;
}

img {
	border: none;
}

form {
	margin: 0px;
	padding: 0px;
}

h2 {
	margin-top: 15px;
}

/** Layout with sticky fixed footer **/
* {
	margin: 0;
	padding: 0;
}

body,html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	text-align: center;
}

.fixedwidth {
	width: 800px; /* content width */
	margin: 0 auto;
	text-align: left;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -7em; /* -(#footer/#push height) */
}

#header {
	height: 40px; /* header height */
	border-bottom: 1px solid #000;
}

#main {
	
}

#menu {
	background-color: #444;
	color: #fff;
	height: 30px;
	padding-top: 5px;
}

#content {
	
}

#footer {
	border-top: 1px solid #000;
	clear: both;
}

#push,#footer {
	height: 7em; /* footer height */
}
/** Layout with sticky fixed footer END **/

.clear {
	clear: both;
	overflow: hidden;
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
	font-size: 0px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.menu-item {
	float: left;
	margin-right: 15px;
}
.hiddensubmit {
	position: absolute; 
	left: -9999px; 
	width: 1px; 
	height: 1px;
}
.errors {
	color: red;
}

/* form */
.fcell input {
	width: 190px;
}
.sform .fcell {
	margin: 2px;
	padding: 0px;
}
.fcell div.clabel {
	font-size: 10px;
	color: #666;
}
.fcell div.cdata {
	font-size: 12px;
}
.fcell div.cmsgs {
	color: #f00;
	font-size: 12px;
}
.sform .msg {
	font-size: 12px;
	color: red;
}
.sform .hiddensubmit {
	position: absolute; 
	left: -9999px; 
	width: 1px; 
	height: 1px;
}
.sform .cmsgs {
	color: red;
	font-size: 12px;
}
/* form END */
